.list {
  display: grid;
  gap: var(--size-gap);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  list-style: none;
  padding: 0;
}

.listItem {
  margin: 0;
  border-radius: 8px;
  background-color: #aba0a0;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.listItem:hover {
  transform: translateY(-5px);
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 10px;
}

.listItem::marker {
  font-size: 20px;
  margin-right: 10px;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}
